@using TShopSolution.ViewModels.Common;
@model PagedResult<TShopSolution.ViewModels.System.Users.UserVM>;

@{ ViewData["Title"] = "Index"; }
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000)
    </script>

}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a asp-action="Create" asp-controller="User" class="btn btn-success">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input name="keyword" type="text" class="form-control" value="@ViewBag.Keyword" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                <button type="button" onclick="window.location.href='/User'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
    <div id="msgAlert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMsg
    </div>}
            </div>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Họ
                        </th>
                        <th>
                            Tên
                        </th>
                        <th>
                            Tài khoản
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Ngày sinh
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-controller="Aduser" asp-route-id="@item.Id">Sửa</a>
                <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Aduser" asp-route-id="@item.Id">Xem</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Aduser" asp-route-id="@item.Id">Xóa</a>
                @if (User.IsInRole("admin"))
                {
<a class="btn btn-outline-primary" asp-action="RoleAssign" asp-controller="Aduser" asp-route-id="@item.Id">Gán quyền</a>}
            </td>
        </tr>}
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>