@model CheckoutViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration _config;
@using eShopSolution.Utilities.Constant;
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlAPI = _config[SystemConstant.AppSettings.BaseAddress];
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/"><localize>Home</localize></a> <span class="divider">/</span></li>
        <li class="active"> SHOPPING CART</li>
    </ul>
    <h3>
        SHOPPING CART  [<span id="number_item_header" class="item_header">0</span>]
        <a href="/" class="btn btn-large pull-right">
            <i class="icon-arrow-left"></i> Continue Shopping
        </a>
    </h3>
    <hr class="soft" />
    @if (TempData["Success"] != null)
    {
        <span class="alert alert-success">
            @TempData["Success"]
        </span>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><localize>Product</localize></th>
                    <th><localize>Description</localize></th>
                    <th><localize>Quantity</localize></th>
                    <th><localize>Price</localize></th>
                    <th><localize>Total</localize></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td> <img width="60" src="@urlAPI@item.Image" alt="@item.Name" /></td>
                        <td>@item.Description</td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>@Convert.ToDecimal(item.Price).ToString("#,##0")</td>
                        <td>@Convert.ToDecimal(item.Price * item.Quantity).ToString("#,##0")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align:right"><strong>TOTAL =</strong></td>
                    <td class="label label-important" style="display:block"> <strong>@Convert.ToDecimal(Model.CartItems.Sum(x => x.Quantity * x.Price)).ToString("#,##0") </strong></td>
                </tr>
            </tfoot>
        </table>

        <table class="table table-bordered">
            <tr><th><localize>ESTIMATE YOUR SHIPPING</localize></th></tr>
            <tr>
                <td>
                    <form class="form-horizontal" asp-action="Checkout" method="post">
                        <div class="control-group">
                            <label class="control-label" for="inputCountry">Name </label>
                            <div class="controls">
                                <input type="text" id="inputCountry" asp-for="CheckoutRequest.Name" placeholder="Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPost">Address </label>
                            <div class="controls">
                                <input type="text" id="inputPost" asp-for="CheckoutRequest.Address" placeholder="Address">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPost">Email </label>
                            <div class="controls">
                                <input type="text" id="inputPost" asp-for="CheckoutRequest.Email" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPost">Phone </label>
                            <div class="controls">
                                <input type="text" id="inputPost" asp-for="CheckoutRequest.Phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-danger"> Purchase </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
    }
</div>